<div class="field{{#if props.variant}} field--{{props.variant}}{{/if}}{{#if props.class}} {{props.class}}{{/if}}" data-path="components" data-module="Field">
    <div class="field__control">
        {{#if props.textarea}}
            <textarea
                class="field__textarea"
                {{#if props.id}}id="{{props.id}}"{{/if}}
                {{#if props.name}}name="{{props.name}}"{{/if}}
                {{#if props.placeholder}}placeholder="{{props.placeholder}}"{{/if}}
                {{#if props.disabled}}disabled{{/if}}
                {{#if props.readonly}}readonly{{/if}}
                {{#if props.required}}required{{/if}}
                {{#if props.autocomplete}}autocomplete="{{props.autocomplete}}"{{/if}}
                rows="{{default props.rows 1}}"
                data-autosize
                data-autosize-max-rows="{{default props.rows 6}}"
                {{{attrs props.attrs}}}
            >{{default props.value ''}}</textarea>
        {{else}}
            <input
                class="field__input"
                type="{{default props.type 'text'}}"
                {{#if props.id}}id="{{props.id}}"{{/if}}
                {{#if props.name}}name="{{props.name}}"{{/if}}
                {{#if (isSet props.value)}}value="{{props.value}}"{{/if}}
                {{#if props.placeholder}}placeholder="{{props.placeholder}}"{{/if}}
                {{#if props.disabled}}disabled{{/if}}
                {{#if props.readonly}}readonly{{/if}}
                {{#if props.required}}required{{/if}}
                {{#if props.autocomplete}}autocomplete="{{props.autocomplete}}"{{/if}}
                {{#if props.mask}}data-mask="{{props.mask}}"{{/if}}
                {{#if props.inputmode}}inputmode="{{props.inputmode}}"{{/if}}
                {{{attrs props.attrs}}}
            />
            {{#if (or (eq props.type 'password') props.togglePassword)}}
                <button
                    class="field__visibility"
                    type="button"
                    aria-label="Показать пароль"
                    aria-pressed="false"
                >
                    <svg class="field__visibility-icon field__visibility-icon--hide"  aria-hidden="true" width="16" height="16">
                        <use href="#icon-eye-slash"></use>
                    </svg>
                    <svg class="field__visibility-icon field__visibility-icon--show" aria-hidden="true" width="16" height="16">
                        <use href="#icon-eye"></use>
                    </svg>
                </button>
            {{/if}}
        {{/if}}
    </div>
    <span class="field__error" aria-hidden="true">{{default props.errorText 'Ошибка ввода'}}</span>
</div>