<div class="profile-dropdown {{props.class}}" data-module="ProfileDropdown" data-path="components">
    <button class="profile-dropdown__trigger" type="button" aria-haspopup="menu" aria-expanded="false">
        <img src="/assets/images/profile-ava.svg" alt="ВМ">
        <span>Владислава Митрофановна</span>
        <svg aria-hidden="true" width="16" height="16">
            <use href="#icon-caret"></use>
        </svg>
    </button>
    <div class="profile-dropdown__panel" role="menu" hidden>
        {{#each props.items}}
            {{#if this.sep}}
                <div class="profile-dropdown__sep" role="none"></div>
            {{else}}
                {{#if this.href}}
                    <a class="profile-dropdown__item" role="menuitem" tabindex="-1" href="{{this.href}}" data-action="{{this.action}}">
                        {{#if this.icon}}<svg class="profile-dropdown__icon" aria-hidden="true" width="20" height="20"><use href="#{{this.icon}}"></use></svg>{{/if}}
                        <span class="profile-dropdown__text">{{this.text}}</span>
                    </a>
                {{else}}
                    <button class="profile-dropdown__item" role="menuitem" tabindex="-1" type="button" data-action="{{this.action}}">
                        {{#if this.icon}}<svg class="profile-dropdown__icon" aria-hidden="true" width="20" height="20"><use href="#{{this.icon}}"></use></svg>{{/if}}
                        <span class="profile-dropdown__text">{{this.text}}</span>
                    </button>
                {{/if}}
            {{/if}}
        {{/each}}
    </div>
</div>